{% extends 'account/base.html' %}

{% block title_html %}
    New Password | Invogen
{% endblock title_html %}
    
{% block body_html %}
    <div class="container card shadow-md p-5 form-layout">
        <h3>Enter your new password:</h3>
        <hr>
        <p>Please enter your new password twice so that we can verify that you typed it in correctly!</p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2">Update password</button>
        </form>
    </div>
{% endblock body_html %}
