{% extends 'account/base.html' %}

{% block title_html %}
    Reset Password | Invogen
{% endblock title_html %}
    
{% block body_html %}
    <div class="container card shadow-md p-5 form-layout">
        <h3>Password reset</h3>
        <hr>
        <p>Forgotten your password? Enter your email address below,
            and we'll email instructions for setting a new one
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2">Send password reset link</button>
        </form>
    </div>
{% endblock body_html %}
